IMAGESIZE 1024 768

#comment test1
#comment test 2
#comment test 3
##
#

BGCOLOR 0.5 0.5 0.5
FRAMEWIDTH 3
#DEPTHCUE 1 1 70

LIGHT
PARALLEL
POSITION 10.0 20.0 -5.0
AMB 0.35 0.35 0.35
DIF 0.75 0.75 0.75
SPEC 0.5 0.5 0.5
END_LIGHT


LIGHT
PARALLEL
POSITION -10.0 -20.0 5.0
AMB 0.35 0.35 0.35
DIF 0.75 0.75 0.75
SPEC 0.5 0.5 0.5
END_LIGHT

DEPTHCUE 1 0.1 100.0

INCLUDE configtest2.vsm

VISUALIZATION

PARTICLE
PTCLNUM 1
RADIUS 0.5
AMB 0.4 0.4 0.4
DIF 0.9 0.9 0.9
SPEC  0.4 0.4 0.4
SHIN 10.0
END_PARTICLE

#SLICE
#SCALNUM 1
#EQ 0.3 0.2 -0.3 0.0
#AMB 0.4
#DIF 0.9
#SPEC 0.4
#SHIN 10.0
#ALPHA 1
#END_SLICE

ARROWS
VECTNUM 1
EQ 0.5 0.2 1.0 0.0
DENSITY 0.05
RADIUS 0.1
LENGTH 1.7
END_ARROWS

ISOSURFACE
SCALNUM 1
LEVEL 0.95
AMB 0.4 0.8 0.4
DIF 0.55 0.75 0.55
SPEC 0.4 0.5 0.4
SHIN 60
ALPHA 1.0
END_ISOSURFACE

STREAM_LINES
VECTNUM 1
AMB 0.5
DIF 0.75
SPEC 0.4
SHIN 40
RADIUS 0.1
SEED
5.5 -5.5 -8.5
5.5 5.5 -8.5
-5.5 -5.5 -8.5
-5.5  5.5 -8.5
END_SEED
END_STREAM_LINES

#VOLUME_RENDERING
#SCALNUM 1
#AMB 0.8 0.4 0.4
#DIF 0.75 0.55 0.55
#SPEC 0.5 0.4 0.4
#SHIN 60
#END_VOLUME_RENDERING

#DEPTHCUE
LIGHT 1
LIGHT 2
END_VISUALIZATION



