IMAGESIZE 1024 768


BGCOLOR 0.5 0.5 0.5
FRAMEWIDTH 3
#DEPTHCUE 1 1 70

LIGHT
PARALLEL
POSITION 10.0 20.0 -5.0
AMB 0.35 0.35 0.35
DIF 0.75 0.75 0.75
SPEC 0.5 0.5 0.5
END_LIGHT


LIGHT
PARALLEL
POSITION -10.0 -20.0 5.0
AMB 0.35 0.35 0.35
DIF 0.75 0.75 0.75
SPEC 0.5 0.5 0.5
END_LIGHT

# DEPTHCUE 1 0.1 100.0

CAMERA
POSITION 220 200 200
FRONT -1 -0.9 -0.95
UP 0 0 1
FOVY 38.0
NEARFAR 10 1000
END_CAMERA

# PTCL_COLORMAP
# PTCLNUM 1　
# EQUALLY_SPACED
# 1.0 0.0 1.0 1.0 0.4  # value1 r g b rad // R,G,B は 0.0 1.0 , R AD は半径
# 2.0 1.0 1.0 0.0 0.4  # value2 r g b rad
# 3.0 1.0 1.0 1.0 0.4 
# END_PTCL_COLORMAP


VISUALIZATION

#SLICE
#SCALNUM 1
#EQ 0.3 0.2 -0.3 0.0
#AMB 0.4
#DIF 0.9
#SPEC 0.4
#SHIN 10.0
#ALPHA 1
#END_SLICE


ISOSURFACE
SCALNUM 1
LEVEL 0.5
AMB 0.4 0.8 0.4
DIF 0.55 0.75 0.55
SPEC 0.4 0.5 0.4
SHIN 60
ALPHA 1.0
END_ISOSURFACE


# PARTICLE
# PTCLNUM 1
# COLOR
# AMB 1.0
# DIF 0.5
# SPEC 0.2
# SHIN 10
# END_PARTICLE

#DEPTHCUE
LIGHT 1
LIGHT 2
END_VISUALIZATION



